---
title: Welkom
layout: default
redirect_from:
  - /programs
  - /programs/
  - /minoren
  - /minoren/
  - /minors
  - /minors/
  - /online
  - /online/
---

<div class="panel-bg panel-100vh" style="background-image: url('{{ site.baseurl }}/assets/home/college_pidac.jpeg'); background-size: cover; background-repeat: no-repeat;">
    <h1 class="display-2 text-light">Hello, world!</h1>
</div>

<div class="panel-bg panel-padded panel-content-75 text-light" style="background-color:#0E1F2B">
    <div class="row">
        <div class="col">
            <p class="display-6 text-right">
                Dit is het programmeerlab van de Universiteit van Amsterdam. Een
                uitdagende omgeving om te leren je eigen tools te maken voor wetenschappelijk
                onderzoek en applicaties die iedereen kan gebruiken. Je krijgt toegang tot
                de beste materialen om te leren programmeren
                en je bent dagelijks aan de slag met het bouwen van software.
                Wij bieden je uitstekende begeleiding en een plek waar je je helemaal kan
                storten op programmeren en AI. Daarna ben je niet alleen een ervaring
                rijker, maar zul je anders naar computers kijken dan je ooit gedaan had.
            </p>
        </div>
        <div class="col">
            <p class="display-6 text-left">
                This is the programming lab at the University of Amsterdam. A place to challenge
                yourself by making your own tools for scientific research or applications that
                anyone can use. You'll get access to the best materials to learn programming and
                get hands-on with making software every single day. We offer excellent
                support, as well as a dedicated space to get yourself fully immersed in programming
                and AI. This experience will broaden your way of thinking and you'll never look at
                computers the same way again.
            </p>
        </div>

    </div>
</div>

<div class="panel-bg panel-padded panel-content-75 tedxt-light pb-5" style="background-color:white">
  <div class="row row-cols-2">

  {% assign programs = site.programs | sort: "order" %}
  {% for course in programs %}
  <div class="col mb-4">
      <div class="card mb-3 bg-warning border-0 h-100 position-relative" style="smin-height:30vw;">
          <div class="position-absolute top-0 start-100 translate-middle" style="right: 1rem!important; top: -0.5rem; translate(-50%,-50%)!important;">
          {% for tag in course.tags %}
            <div class="badge bg-primary text-white p-2">
            {{ tag }}
            </div>
          {% endfor %}
          </div>
          <div class="card-body text-left">
              <h4 class="card-title"><small>{{ course.type }} {{ course.credits }}</small><br>{{ course.name }}</h4>
              {% if course.doelgroep or course.taal %}
              <p class="text-muted">{{ course.doelgroep }} ({{ course.taal }})</p>
              {% endif %}
              <p class="card-text">{{ course.content | markdownify }}</p>
              {% if course.periode %}
              <p><small class="">{{ course.periode }}</small></p>
              {% endif %}
          </div>
          <div class="card-footer border-0">
              <a href="{{ course.info }}" class="card-link stretched-link">Meer informatie &rarr;</a>
          </div>
      </div>
  </div>
  {% endfor %}
  </div>

</div>

<div class="panel-bg panel-padded panel-content-50" style="background-color:#FEFEFE;">
    <h1 class="display-4 mb-5">Making connections</h1>

    <div class="row">
        <div class="col">
            <p class="display-5 text-right">
                Een belangrijk aspect van onze vakken is de interactie met
                medestudenten en assistenten. Kom je voor de hele minor in één semester, dan ben je
                een groot deel van de week aanwezig op Amsterdam Science Park, samen met een team van
                 studentassistenten en docenten.
                Ga je keuzevakken doen, dan is de planning flexibel: je kunt op veel momenten in de week aanschuiven.
            </p>
        </div>
        <div class="col">
            <p class="display-5 text-left">
                One of the essential elements of our courses are the interactions with
                classmates and teaching assistants. When you're doing a full minor in one semester
                (these are in Dutch only), you'll spend most of your week at Amsterdam Science Park, together
                with a team of teachers and teaching assistants. When doing some of our electives, you can join us at various times during the week.
            </p>
        </div>
    </div>
</div>

<div class="panel-bg p-1" style="">
    <div class="gallery">
        <img src="{{ site.baseurl }}/assets/home/1473105619734.jpeg">
        <img src="{{ site.baseurl }}/assets/home/1473184425537.jpeg">
        <img src="{{ site.baseurl }}/assets/home/1473105649692.jpeg">
        <img src="{{ site.baseurl }}/assets/home/1473105670137.jpeg">
        <img src="{{ site.baseurl }}/assets/home/college.jpeg">
        <img src="{{ site.baseurl }}/assets/home/online-lokaal.png">
        <img src="{{ site.baseurl }}/assets/home/1473107265474.jpeg">
        <img src="{{ site.baseurl }}/assets/home/1473184273949.jpeg">
    </div>
</div>

<div class="panel-bg panel-padded panel-content-50 text-light" style="background-color:#0E1F2B;">
    <div>
        <h1 class="display-4">Online materials</h1>
        <div class="row">
            <div class="col">
                <p class="display-5 text-right">
                    Voor al onze vakken selecteren we het beste materiaal
                    om mee te leren programmeren, van video's tot praktijkboeken.
                     Waar nodig voegen we onze
                    eigen materialen toe.
                </p>
            </div>
            <div class="col">
                <p class="display-5 text-left">
                    For all of our courses we select the best materials to
                    learn to program, from videos to practical textbooks. And
                    we add many of our own materials, too.
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5 pb-4 w-md-75">
        <div class="embed-responsive embed-responsive-16by9 border border-light">
            <iframe class="embed-responsive-item"  src="https://www.youtube-nocookie.com/embed/5dFxQRcsKpw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="panel-bg panel-padded panel-content-50">
    <h1 class="display-4">Flexibility</h1>
    <div class="row">
        <div class="col text-right">
            <p class="display-6">
                Veel van onze cursussen kun je ook volgen zonder je in te schrijven
                voor een hele minor. Zo kun je leren programmeren als je minder dan
                een halfjaar de tijd hebt. Ook is het voor de minoren Programmeren en AI
                mogelijk om deze uit te spreiden over meerdere semesters, zodat je de
                vakken in je planning kunt passen.
            </p>
        </div>
        <div class="col text-left">
            <p class="display-6">
                You can take many of our courses without doing a full minor. That way,
                you can learn how to program when you have room for just a couple of electives.
                When doing our courses as electives, simply choose the ones you'd like to
                take, keeping in mind the entry requirements for each.
            </p>
        </div>
    </div>
</div>

<!--div class="panel-bg panel-padded panel-content-75" style="background-color:#B3DFE3;">
    <div class="pb-5">
        <h1 class="display-4">Courses</h1>
        <div class="row">
            <div class="col text-right">
                <p class="display-5">
                    We organiseren twee complete minoren en diverse keuzevakken. Welke kies jij?
                </p>
            </div>
            <div class="col text-left">
                <p class="display-5">
                    We offer various programs and elective courses. Which one(s) will you choose?
                </p>
            </div>
        </div>
    </div>
    <div class="pt-md-4 d-flex row row-cols-2 row-cols-sm-5 align-items-top justify-content-around">
        <div class="col mb-5">
            <a href="{{ site.baseurl }}/programs/minprog/" class="d-block text-reset">
                <img class="w-75 pb-4" src="{{ site.baseurl }}/assets/logos/programmeren.svg">
                <h5>Minor<br>Programmeren</h5>
            </a>
        </div>
        <div class="col mb-5">
            <a href="{{ site.baseurl }}/programs/minai/" class="d-block text-reset">
                <img class="w-75 pb-4" src="{{ site.baseurl }}/assets/logos/ai.svg">
                <h5>Minor Artificial<br>Intelligence</h5>
            </a>
        </div>
        <div class="col mb-5">
            <a href="{{ site.baseurl }}/electives/machine/" class="d-block text-reset">
                <img class="w-75 pb-4" src="{{ site.baseurl }}/assets/logos/ai.svg">
                <h5>Electives Machine<br>Learning</h5>
            </a>
        </div>
        <div class="col mb-5">
            <a href="{{ site.baseurl }}/electives/scientific/" class="d-block text-reset">
                <img class="w-75 pb-4" src="{{ site.baseurl }}/assets/logos/scientific.svg">
                <h5>Electives Scientific<br>Programming</h5>
            </a>
        </div>
        <div class="col">
            <a href="{{ site.baseurl }}/electives/" class="d-block text-reset">
                <img class="w-75 pb-4" src="{{ site.baseurl }}/assets/logos/keuzevakken.svg">
                <h5>All of our<br>electives</h5>
            </a>
        </div>
    </div>
</div-->

<div class="panel-bg panel-padded panel-content-50" style="background-color:#B3DFE3;">
    <h1 class="display-4">Questions</h1>
    <div class="row">
        <div class="col text-right">
            <p class="display-6">
                Heb je nog vragen? Stuur een e-mail naar
                <a href="mailto:help@proglab.nl">help@proglab.nl</a>.
                E&eacute;n van de docenten of assistenten zal je te woord staan.
            </p>
        </div>
        <div class="col text-left">
            <p class="display-6">
                If you'd like to ask some questions, send us an e-mail at
                <a href="mailto:help@proglab.nl">help@proglab.nl</a>.
                One of our teachers or assistants wil help you out.
            </p>
        </div>
    </div>
</div>

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
